$main-color :  rgb(19, 81, 153);
$light-color :  rgb(28, 104, 190);
$red : rgb(216, 21, 21);
$greywhite: #EBEFF9;
$bluewhite: #eae8f1;
$three-white: #cdd4e7;
$greyblue: #5b6e88;
$hoverColor: rgba(143, 143, 143, 0.116);