$main-color :  rgb(24, 102, 190);
$light-color :  rgb(72, 148, 235);
$red : rgb(223, 53, 53);
$hover-red : rgb(238, 66, 66);
$greywhite: #EBEFF9;
$bluewhite: #eae8f1;
$three-white: #cdd4e7;
$greyblue: #5b6e88;
$hoverColor: rgba(143, 143, 143, 0.116);
$green-color:#2FA169;
$yellow:rgb(155, 152, 5);
$purple:rgb(230, 26, 128);
$green-hover: rgb(4, 189, 59);
$pink: rgb(89, 53, 109);
$brown: rgb(44, 33, 44);
$sky: rgb(15, 173, 179);
$orange: rgb(226, 144, 21);
$black: rgb(22, 22, 22);