
html {
  font-family: 'Tajawal';
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;;
  }

  .fluid-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .en-controlPanel-padding{
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 30px;

  }
  .ar-controlPanel-padding{
    padding-right: 100px;
    padding-left: 20px;
    padding-top: 30px;
  }
  .controlPanel-PageTitle{
    font-size: 30px;
    color: $main-color;
  }